/* Header.module.css */

.headerContainer {
    border-bottom: 1px solid #dee2e6;
    background-color: #f8f9fa;
}

/* Titelzeile (Fahrgemeinschaftsplaner + Version) */
.titleRow {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #dee2e6;
    gap: 1rem;
    white-space: nowrap; /* verhindert Zeilenumbruch */
    /*margin-bottom: 50px;*/
}

/* AppVersion rechts ausrichten, auch wenn sie in neue Zeile fällt */
.version {
    font-size: 0.875rem;
    color: #6c757d;
    white-space: nowrap;
}

.versionContainer {
    font-size: 0.875rem;
    color: #6c757d;
    white-space: nowrap;
    align-items: flex-end;
    flex-direction: column-reverse;
    display: flex;
}

/* Menüzeile (Hamburger, E-Mail, Logout) */
.menuRow {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Responsive Anpassung für kleine Displays */
@media (max-width: 300px) {
    .titleRow {
        /*flex-direction: column-reverse;*/
        flex-direction: column;
        align-items: flex-start;
    }

    .menuRow {
        /*flex-direction: column-reverse;*/
        /*align-items: flex-end;*/
        /*gap: 0.5rem;*/
    }
}
